<div class="products-header">
  <h1>Products</h1>
  <div><%= link_to "New product", new_product_path, data: { turbo_frame: "new_product" } %></div>
</div>

<%= turbo_frame_tag "new_product", target: "_top" %>

<div id="products">
  <%= render @products %>
</div>
